#top {
  display: block;
  width: 100%;
  height: 40px;
  font-family: Arial;
  text-align: center;
}

#left-column{
  display: inline;
  width: 25%;
  float: left;
  height: 100%;
  font-family: Arial;

}

#contents{
  display: inline-block;
  width: 50%;
  height: 100%;
  font-family: Arial;
  text-align: left;
}

#right-column{
  display: block;
  float: right;
  width: 25%;
  height: 100%;
  font-family: Arial;

}