#header {
  height: 120px;
  background-color: white;
  text-align: center;

}

h2 {
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: Arial, san-serif;


}

h4{
  font-family: Arial;
}

h5 {
  font-family: Arial, sans-serif;
}

#nav li {
  display:inline;


}

#nav {
  margin:auto;
  background-color: white;
  text-align: center;
  ;
}

#nav ul li {
  background-color:white;
  padding-left: 14px
}

#my_pic {
  float: left;
  left: 10px;

}

#right_column ul {
  float: right;
  width: 150px;
  display: block;
  list-style-type: none;



}

#right_column ul li {
  width: 200px;
  padding: 15px;
  position: relative;
  right: 100px;

}

a {
  font-size: 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: black;
}

a:hover {
  font-family: Courier;
}

#blog {
  float:left;
  width: 45%;
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 20px;

}